<table class="table table-striped table-bordered table-hover">
<thead><tr><th>Overall Place</th><th>Members</th><th>Category</th><th>Score</th><th>Time</th><th>Penalty</th><!-- weird category counters --></tr></thead>
<tbody>
{{#each results}}
<tr><td>{{index @index}}</td><td>{{#each member}}{{$.lastname}} {{$.firstname}} ({{$.country}}){{#unless @last}}, {{/unless}}{{/each}}</td><td>{{$.category}}</td><td>{{$.score}}</td><td>{{$.time}}</td><td>{{$.penalty}}</td></tr>
{{/each}}
</tbody>
</table>