<h1>{{title 'List of current prequalifying events for WRC 2015'}}</h1>

{{> event}}

<h1>Past prequalifying events</h1>
<h3>Past Regional Qualifiers</h3>
<ul>
<li>1st European Rogaining Championships 2003 Perm, Russia</li>
<li>2nd European Rogaining Championships 2005 Nõva, Estonia</li>
<li>3rd European Rogaining Championships 2006 Chernivtsi, Ukraine</li>
<li>4th European Rogaining Championships 2007, Smiltene, Latvia</li>
<li>5th European Rogaining Championships 2008 St.Petersburg, Russia</li>
<li>6th European Rogaining Championships 2009, Ylläs, Finland</li>
<li>7th European Rogaining Championships 2010 Migovo, Ukraine</li>
<li>8th European Rogaining Championship 2011 Rauna, Latvia</li>
</ul>
