<h1>{{title 'List of current prequalifying events for WRC 2014'}}</h1>

{{> event}}

{{! <h3>WRC Qualifiers</h3>
<ul>
<li><a href="http://www.rogaining.cz/wrc2012/en/">10th World Rogaining Championships 2012 Prebuz, Czech Republic</a></li>
<li><a href="http://wrc2013.com/">11th World Rogaining Championships 2013 Pustoshka, Pskov region, Russian Federation</a></li>
</ul>
<h3>Regional Qualifiers</h3>
<ul>
<li><a href="http://www.three15er.com/">North American Championships 2012</a></li>
<li><a href="http://erc2012.g-sportas.lt/">9th European Rogaining Championships 2012 Moletai, Lithuania</a></li>
<li><a href="http://thewildboar.org/">10th European Rogaining Championships 2013 La Llacuna, Catalonia, Spain</a></li>
<li><a href="http://sa.rogaine.asn.au/index.php?option=com_content&view=article&id=77&Itemid=71">Australian Rogaining Championships 2012 Angorichina Village, South Australia, Australia</a></li>
<li><a href="http://adventuresportnq.info/arc2013">1st Australasian Rogaining Championships 2013 Cairns, North Queensland, Australia</a></li>
</ul>
<h3>National Qualifiers</h3>
<ul>
<li><a href="http://roz.ini.cz/rog12/en/index.html">16th Czech Rogaining Championships 2012 Hvezdov, Czech Republic</a></li>
<li><a href="http://www.rogaining2013.cz/en/">17th Czech Rogaining Championships 2013 Broumy, Czech Republic</a></li>
<li><a href="http://retki.rogaining.fi/">Finnish Rogaining Championships 2013 Sappee, Pirkanmaa, Finland</a></li>
<li><a href="http://www.rogaine.de/index.php?lang=en">German Rogaining Championships 2013 Geyer, Saxony, Germany</a></li>
<li><a href="http://rogaining.lv/">7th Latvian Rogaining Championships 2012 Alūksne municipality, Latvia</a></li>
<li><a href="http://rogaining.lv/">8th Latvian Rogaining Championships 2013 Baldone, Latvia</a></li>
<li><a href="http://www.rogaine.org.nz/nzchamps2012/">New Zealand Rogaining Championships 2012 Dunedin, Otago, New Zealand</a></li>
<li><a href="http://rrc2012.rogaining.ru/">9th Russian Rogaining Championships 2012 Olshaniki, Leningrad Oblast, Russian Federation</a></li>
<li><a href="http://rogaining.ru/">10th Russian Rogaining Championships 2013 Khvalynsk, Saratov Oblast, Russian Federation</a></li>
<li><a href="http://www.navaleno-orientacion.es/">Spannish Rogaining Championships 2013 Navaleno, Soria, Spain</a></li>
<li><a href="http://rogaining.org.ua/">Ukrainian Rogaining Championships 2012 Chernivtsi, Ukraine</a></li>
<li><a href="http://midiz.org/index.php?option=com_content&view=article&id=331:rogein&catid=3:new&Itemid=4">Ukrainian Rogaining Championships 2013 Migovo, Ukraine</a></li>
<li><a href="http://www.us.orienteering.org/orienteers/rogaines">US. Rogaining Championships 2013 ???, USA</a></li>
</ul>
<h1>Past prequalifying events</h1>
<h3>Past Regional Qualifiers</h3>
<ul>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/1st-european-rogaining-championships-2003-perm-russia">1st European Rogaining Championships 2003 Perm, Russia</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/2nd-european-rogaining-championships-2005-nova-estonia">2nd European Rogaining Championships 2005 Nõva, Estonia</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/3rd-european-rogaining-championships-2006-chernivtsi-ukraine">3rd European Rogaining Championships 2006 Chernivtsi, Ukraine</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/4th-european-rogaining-championships-2007-smiltene-latvia">4th European Rogaining Championships 2007, Smiltene, Latvia</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/5th-european-rogaining-championships-2008-stpetersburg-russia">5th European Rogaining Championships 2008 St.Petersburg, Russia</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/6th-european-rogaining-championships-2009-yllas-finland">6th European Rogaining Championships 2009, Ylläs, Finland</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/erc-2010-ukraine-event-reveiw">7th European Rogaining Championships 2010 Migovo, Ukraine</a></li>
<li><a href="http://rogaining.com/cr-wrc-qualifiers/8th-european-rogaining-championship-2011-rauna-latvia">8th European Rogaining Championship 2011 Rauna, Latvia</a></li>
</ul>
 }}