<div class="row show-grid">
	<div class="col-lg-4">
		<h2>WRC Selection Process</h2>
		<ul>
			<li><a href="http://rogaining.com/wrcs/world-rogaining-championships-2015-and-2016-calls-for-proposals">Call for Proposal to host WRC 2015 and 2016</a></li>
			<!-- <li><a href="#">List of Proposals to host WRC 2015 and 2016 </a></li> -->
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>WRC Entry Criteria</h2>
		<ul>
			<li><a href="http://wrc2013.com/reg/entry-criteria">Entry Criteria for WRC 2013</a></li>
			<li><a href="#">List of Prequlifying events</a></li>
			<!-- <li><a href="#">Database of Prequlified Rogainers</a></li> -->
		</ul>
	</div>
	<div class="col-lg-4">
		<iframe src="https://www.google.com/calendar/embed?title=WRC%20Issues%20Calendar&amp;height=300&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23FFFFFF&amp;src=i0foum5hu7pbo4jm61nfobr8a4%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="500" height="300" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
