<div class="row show-grid">
	<div class="col-lg-6">
		{{> update}}
	</div>
	<div class="col-lg-6">
		{{> calendar}}
	</div>
</div>
<div class="row show-grid">
	<div class="col-lg-6">
		<h2>WRC Selection Process</h2>
		{{!-- <ul>
			<li><a href="http://rogaining.com/wrcs/world-rogaining-championships-2015-and-2016-calls-for-proposals">Call for Proposals to host WRC 2015 and 2016</a></li>
			<li><a href="#">List of Proposals to host WRC 2015 and 2016 </a></li>
		</ul> --}}
		<p>Selection process of 15th WRC 2017 is being prepared.</p>
	</div>
	<div class="col-lg-6">
		<h2>WRC Entry Criteria</h2>
		<ul>
			<li><a href="http://rogaining.com/attachments/article/256/WRC%20Entry%20Criteria%20August%202013.pdf">Entry Criteria for WRC 2014</a></li>
			<li><a href="/events">List of Prequlifying events</a></li>
			<li><a href="https://dl.dropboxusercontent.com/u/1189439/qualified.html">Database of Prequlified Rogainers</a></li>
		</ul>
	</div>
</div>
<div class="row show-grid">
	<div class="col-lg-12">
		<h2>Past World Rogaining Championships</h2>
		{{> event}}
	</div>
</div>