<div class="row show-grid">
	<div class="col-lg-6">
		<h2>{{title 'News'}}{{#if identity}}<button class="btn btn-xs" id="show-form" type="button" title="Add update"><span class="glyphicon glyphicon-plus"></span></button>{{/if}}</h2>
		{{> update}}
	</div>
	<div class="col-lg-6">
		{{> calendar}}
	</div>
</div>
<div class="row show-grid">
	<div class="col-lg-6">
		<h2>WRC Selection Process</h2>
		{{!-- <ul>
			<li><a href="http://rogaining.com/wrcs/world-rogaining-championships-2018-calls-for-proposals">Call for Proposals to host WRC 2018</a></li>
			<li><a href="#">List of Proposals to host WRC 2018</a></li>
		</ul> --}}
		<p>USA will host the <a href="https://www.wrc2020.com/">17th WRC</a> in 2020.</p>
	</div>
	<div class="col-lg-6">
		<h2>Entry Criteria and prequalifying events</h2>
		<ul>
			{{!-- <li><a href="http://rogaining.com/attachments/article/256/WRC%20Entry%20Criteria%20August%202013.pdf">Entry Criteria for WRC 2015</a></li> --}}
			<li><a href="/events">List of Prequalifying events</a></li>
			<li><a href="/qualified">Database of Prequalified Rogainers</a></li>
		</ul>
	</div>
</div>
<div class="row show-grid">
	<div class="col-lg-12">
		<h2>Past World Rogaining Championships</h2>
		{{> event}}
	</div>
</div>
