<div class="row show-grid">
	<div class="col-lg-6">
		{{> update}}
	</div>
	<div class="col-lg-6">
		{{> calendar}}
	</div>
</div>
<div class="row show-grid">
	<div class="col-lg-6">
		<h2>WRC Selection Process</h2>
		<ul>
			<li><a href="http://rogaining.com/wrcs/world-rogaining-championships-2015-and-2016-calls-for-proposals">Call for Proposal to host WRC 2015 and 2016</a></li>
			<li><a href="#">List of Proposals to host WRC 2015 and 2016 </a></li>
		</ul>
	</div>
	<div class="col-lg-6">
		<h2>WRC Entry Criteria</h2>
		<ul>
			<li><a href="http://wrc2013.com/reg/entry-criteria">Entry Criteria for WRC 2013</a></li>
			<li><a href="/events">List of Prequlifying events</a></li>
			<li><a href="#">Database of Prequlified Rogainers</a></li>
		</ul>
	</div>
</div>
<div class="row show-grid">
	<div class="col-lg-12">
		<h2>Past World Rogaining Championships</h2>
		{{> event}}
	</div>
</div>