<h1>{{setTitle 'Log in'}}</h1>
<form action="/login" method="post" class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-lg-2 control-label" for="email">E-Mail:</label>
		<div class="col-lg-10">
			<input type="email" class="form-control" name="username" id="email" placeholder="your@mail.com" value="{{{values.username}}}" autofocus="autofocus">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label" for="password">Password:</label>
		<div class="col-lg-10">
			<input type="password" class="form-control" name="password" id="password" placeholder="thisissecret">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">Log me in</button>
		</div>
	</div>
</form>
