<h1>{{title 'Log in'}}</h1>
<form action="/login" method="post" class="form-horizontal">
	<div class="row">
		<label class="col-lg-2 control-label" for="email">E-Mail:</label>
		<div class="col-lg-10">
			<input type="email" name="username" id="email" placeholder="your@mail.com">
		</div>
	</div>
	<div class="row">
		<label class="col-lg-2 control-label" for="password">Password:</label>
		<div class="col-lg-10">
			<input type="password" name="password" id="password" placeholder="thisissecret">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-offset-2">
			<button type="submit" class="btn btn-primary">Log me in</button>
		</div>
	</div>
</form>