<h1>{{title 'List of pre-qualified entrants for WRC 2016'}}</h1>
<h2>Automatic pre-qualified entrants for WRC 2016</h2>
{{#each qualified.auto}}
{{> 'qualified'}}
{{/each}}
<h2>Preferred pre-qualified entrants for WRC 2016</h2>
{{#each qualified.preferred}}
{{> 'qualified'}}
{{/each}}

<p>* Provided that the person has competed in at least one 24-hour rogaine in the two years immediately preceding the opening of entries</p>

<p>Last updated on {{datetime}}</p>

{{#extend 'bottom'}}
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
{{/extend}}
